<div class="container">
  <form [formGroup]="passwordForm">
    <label for="password">Password:</label>
    <div class="input-wrapper">
      <input [type]="inputType" id="password" formControlName="password">
      <i *ngIf="isShowInputValue" (click)="showInputValue()" class="fa fa-eye-slash input-icon"></i>
      <i *ngIf="!isShowInputValue" (click)="showInputValue()" class="fa fa-eye input-icon"></i>
    </div>

    <div class="strength-indicators">
      <div *ngFor="let indicator of indicatorsArray"
            [class]="statusClass">
      </div>
    </div>
  </form>
</div>
