.container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

label {
    display: block;
    margin-bottom: 10px;
    align-self: flex-start;
}

.input-wrapper {
    width: 100%;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    padding-right: 31px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 11px;
    cursor: pointer;
}

form {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strength-indicators {
    display: flex;
    width: 100%;

    div {
        flex-grow: 1;
        height: 8px;
        margin-right: 5px;
        border-radius: 3px;

        &:last-child {
            margin-right: 0;
        }
    }

    .default {
        background-color: gray;
    }

    .weak {
        background-color: red;
    }

    .weak-correctly {
        background-color: gray;

        &:first-child {
            background-color: red;
        }
    }

    .medium {
        background-color: yellow;

        &:last-child {
            background-color: gray;
        }
    }

    .strong {
        background-color: green;
    }
}